# Generar la Base de Datos desde Python
* Crear la Base de Datos
* Crear las Tablas de la Base de Datos
* Precargar las Tablas
* Visualizar las cargas realizadas

In [63]:
import sqlite3
import os.path as path

base_name= "Cafe_DataBase3"

#Se verifica si la Base de Datos ya existe, asumiendo que de ser así ya contiene una tabla; de lo contrario, se crea la Base de Datos
#al realizar la conexión, y se crea la tabla.
if path.exists(base_name):
    conexion= sqlite3.connect(base_name)    #Se crea una conexión y por lo tanto la Base de Datos como tal
    cursor= conexion.cursor()
else:
    conexion= sqlite3.connect(base_name)    #Se crea una conexión y por lo tanto la Base de Datos como tal
    cursor= conexion.cursor()
    
    #Se crea tabla de registro de tareas
    cursor.execute('''
    CREATE TABLE REGISTRO_TAREAS(
    ID_TAREA INTEGER PRIMARY KEY AUTOINCREMENT,
    FECHA DATETIME,
    TAREA VARCHAR(100),
    ID_SUB_GRUPO INTEGER,
    H_INICIO FLOAT,
    H_FIN FLOAT,
    REALIZADA INTEGER,
    COMENTARIOS VARCHAR(100))
    ''')
    
    #cursor.execute("SET DATEFORMAT DMY")
    
    #Se crea tabla de Sub-Grupo de agrupación de Tareas
    cursor.execute('''
    CREATE TABLE SUB_GRUPOS_TAREAS(
    ID_SUB_GRUPO VARCHAR(3) PRIMARY KEY,
    SUB_GRUPO VARCHAR(50),
    ID_GRUPO INTEGER)
    ''')
    
    #Se crea tabla de Grupo de agrupación de Tareas
    cursor.execute('''
    CREATE TABLE GRUPOS_TAREAS(
    ID_GRUPO VARCHAR(3) PRIMARY KEY,
    GRUPO VARCHAR(50) UNIQUE)
    ''')

In [64]:
#Llenar tabla de Grupos de Tareas
grupos= [('G01', 'Ejercicio Espiritual'), ('G02','Programación'), ('G03','Guitarra'), ('G04','Armónica'), ('G05','Lectura'), ('G06','Ejercicio Físico'), ('G07','Administración y Gestión')]

#for i in range(len(grupos)): 
#    cursor.execute("INSERT INTO GRUPOS_TAREAS VALUES (" + grupos[i] + ")")

cursor.executemany("INSERT INTO GRUPOS_TAREAS VALUES (?,?)", grupos)

In [18]:
#cursor.execute("INSERT INTO GRUPOS_TAREAS VALUES('G01', 'Ejercicio Espiritual')")

In [65]:
#cursor.execute("DELETE FROM GRUPOS_TAREAS")
cursor.execute("SELECT * FROM GRUPOS_TAREAS")
tab_grupos= cursor.fetchall()
tab_grupos

[('G01', 'Ejercicio Espiritual'),
 ('G02', 'Programación'),
 ('G03', 'Guitarra'),
 ('G04', 'Armónica'),
 ('G05', 'Lectura'),
 ('G06', 'Ejercicio Físico'),
 ('G07', 'Administración y Gestión')]

In [66]:
#Llenar tabla de Sub-Grupos de Tareas: ID_sub_grupo, sub_grupo, ID_grupo
sub_grupos= [
    ('S10','Oración','G01'), ('S11','Lectura de la Biblia','G01'), ('S12','Ayuno','G01'), ('S13','Estudio Bíblico','G01'),
    ('S20', 'Data Science & Machine Learning','G02'), ('S21', 'Data Analitics','G02'), ('S22', 'SQL','G02'), ('S23', 'Otros Programas','G02'),
    ('S30','Practicar Guitarra','G03'), ('S31','Configurar Guitarra o Efectos','G03'),
    ('S40','Practicar Armónica','G04'), 
    ('S50','Leer un Libro','G05'), 
    ('S60','Hacer Ejercicio','G06'), ('S61','Practicar un Deporte','G06'),
    ('S70','Orden y Limpieza','G07'), ('S71','Administración Económica','G07'), ('S72','Gestión de Proyectos','G07')
]

cursor.executemany("INSERT INTO SUB_GRUPOS_TAREAS VALUES (?,?,?)", sub_grupos)

In [67]:
#cursor.execute("DELETE FROM SUB_GRUPOS_TAREAS")
cursor.execute("SELECT * FROM SUB_GRUPOS_TAREAS")
tab_sub_grupos= cursor.fetchall()
tab_sub_grupos

[('S10', 'Oración', 'G01'),
 ('S11', 'Lectura de la Biblia', 'G01'),
 ('S12', 'Ayuno', 'G01'),
 ('S13', 'Estudio Bíblico', 'G01'),
 ('S20', 'Data Science & Machine Learning', 'G02'),
 ('S21', 'Data Analitics', 'G02'),
 ('S22', 'SQL', 'G02'),
 ('S23', 'Otros Programas', 'G02'),
 ('S30', 'Practicar Guitarra', 'G03'),
 ('S31', 'Configurar Guitarra o Efectos', 'G03'),
 ('S40', 'Practicar Armónica', 'G04'),
 ('S50', 'Leer un Libro', 'G05'),
 ('S60', 'Hacer Ejercicio', 'G06'),
 ('S61', 'Practicar un Deporte', 'G06'),
 ('S70', 'Orden y Limpieza', 'G07'),
 ('S71', 'Administración Económica', 'G07'),
 ('S72', 'Gestión de Proyectos', 'G07')]

In [68]:
conexion.commit()
conexion.close()